/*====================================
=            Admin Styles            =
====================================*/

/*
.metabox-holder input,

.metabox-holder textarea {
    width: 100%;
    display: block;
}

.metabox-holder input[type="text"] {
    max-width: 250px;
}

.metabox-holder input[type="checkbox"] {
    max-width: 10px;
}
*/

.metabox-holder textarea {
    max-width: 500px;
}

.spinner {
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}

.submit-wrap .submit {
    float: left;
    padding-top: 0;
}

/*====================================
=            Browse Styles           =
====================================*/

.error_line {
    background: #FFDDDD;
}

div.pagination {
    text-align: left;
    padding: 7px;
    margin: 3px;
    float: left;
}

div.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    text-decoration: none; /* no underline */
    color: #000000;
}

div.pagination a:hover, div.pagination a:active {
    background-color: #0074A2;
    color: #fff;
}

div.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    font-weight: bold;
    background-color: #AAA;
    color: #FFF;
}

div.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    color: #DDD;
}

#progressbar {
    height: 10px;
    padding: 1px;
    background: #eee;
    border: 1px solid lightgray;
}

#progressbar .value {
    height: 10px;
    background: #00cc66;
}

.wp-admin input[type=file] {
    width: 100%;
}

/*====================================
=           Options Styles           =
====================================*/

.option_div_sp {
    float: left;
    clear: both;
}

/*====================================
=     Browse Image upload Styles     =
====================================*/

.ibenic_file_label {
    text-align: center;
}

.file-preview {
    overflow: hidden;
}

/*.file-upload input {*/
/*opacity: 0;*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 100%;*/
/*display: block;*/
/*cursor: pointer;*/
/*}*/

/*.file-preview img {*/
/*width: 100%;*/
/*height: auto;*/
/*}*/

/*.file-preview .ibenic_file_preview {*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 100%;*/
/*overflow: hidden;*/
/*}*/

/*.ibenic_file_delete {*/
/*position: absolute;*/
/*width: 100%;*/
/*top: 98%;*/
/*left: 0;*/
/*padding: 0.5em;*/
/*text-align: center;*/
/*color: white;*/
/*background-color: red;*/
/*}*/